<div
    class="h-screen  overflow-hidden w-screen bg-gradient-to-b   flex justify-center items-center from-accent from-[-250%] via-transparent via-[70%]  to-primary to-[10%] ">
    <div class="card shadow-xl h-auto  w-[28%] p-[5rem] space-y-8" style="padding: 2.5rem!important;">
        <h4 class="text-2xl font-bold">La Guilde</h4>
        <div>
            <h4 class="text-2xl font-medium">Sign In</h4>
            <h6 class="flex justify-start items-center space-x-5">Don't have account? <span
                    class="text-accent cursor-pointer pl-1">Sign
                    up</span></h6>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form space-y-4 space-x-3" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your email!">
                    <nz-input-group>
                        <div id="email" class="w-full space-y-1">
                            <h4>Email address <span class="text-red-300">*</span> </h4>
                            <input nz-input class=" w-full border-[1px]  border-solid" formControlName="email"
                                required="true" placeholder="myaccount@xmail.com" [(ngModel)]="email" type="email" />
                        </div>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your password!">
                    <nz-input-group>
                        <div id="password" class="w-full space-y-1">
                            <h4>Password<span class="text-red-300">*</span> </h4>
                            <div class="relative w-full flex justify-center items-center   bg-transparent">
                                <input nz-input class=" w-full border-[1px] flex justify-center  border-solid"
                                    formControlName="password" placeholder="*********" [(ngModel)]="password"
                                    type="password" />
                                <button type="button" class="absolute  inset-y-0 end-0 flex items-center pe-3">
                                    <mat-icon svgIcon="eye"></mat-icon>
                                </button>
                            </div>

                        </div>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div class="flex w-full justify-between items-center">
                <div class="flex justify-center items-center space-x-2">
                    <label class="" nz-checkbox formControlName="remember">
                    </label>
                    <span class="text-sm">Remember me</span>
                </div>
                <span class="text-sm  font-light cursor-pointer text-accent">Forgot password?</span>
            </div>
            <button nz-button data-ripple-light="true" class=" pt-3 bg-accent  w-full px-2 py-3 rounded-md">
                Sign In</button>
        </form>
        <div class="space-y-4">
        </div>
    </div>
    <app-loading *ngIf="isBusy" />
</div>