<div
    class="h-full w-screen bg-gradient-to-b  inset-x-0 p-2 duration-200 
ease-out transition transform origin-top-right   flex justify-center from-accent from-[-250%] via-transparent via-[70%]  to-primary to-[10%] ">
    <div class="py-[7rem] overflow-hidden space-y-5  w-[75%]">
        <div @fadeProfilCard class="card space-y-8">
            <div class="flex space-x-8">
                <div class="h-[240px] w-[300px] rounded-[5rem] bg-cover bg-[url('assets/avatar.png')]  bg-white">

                </div>
                <div class="w-full">
                    <div class="flex justify-start space-x-3 items-center">
                        <h3 class="flex justify-center text-3xl font-bold">Josué Janda </h3>
                        <div
                            class="h-[45px] w-[45px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                            <mat-icon svgIcon='edit'></mat-icon>
                        </div>
                    </div>
                    <div class="flex justify-start space-x-3 items-center">
                        <h3 class="flex justify-center text-xl font-medium">FRONTEND& MOBILE SOFTWARE ENGINEER</h3>
                        <div
                            class="h-[35px] w-[35px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                            <mat-icon svgIcon='edit'></mat-icon>
                        </div>
                    </div>

                    <div class="flex pt-5 justify-start space-x-3 items-center">
                        <h3 class="flex justify-center text-md font-regular">Douala,Cameroon</h3>
                        <div
                            class="h-[35px] w-[35px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                            <mat-icon class="scale-[0.7]" svgIcon='edit'></mat-icon>
                        </div>
                    </div>
                    <div class="flex justify-start space-x-5 items-center">
                        <div class="flex justify-start space-x-3 items-center">
                            <h3 class="flex justify-center text-md font-regular">Software Profesionnal Engineer since
                                2018 </h3>
                            <div
                                class="h-[35px] w-[35px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                                <mat-icon class="scale-[0.7]" svgIcon='edit'></mat-icon>
                            </div>
                        </div>
                        <div class="flex justify-start space-x-3 items-center">
                            <h3 class="flex justify-center text-md font-regular">Freelancing since
                                2018 </h3>
                            <div
                                class="h-[35px] w-[35px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                                <mat-icon class="scale-[0.7]" svgIcon='edit'></mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3 class="text-secondaryTextColor text-md">Top Skills</h3>
                <div class="flex justify-start space-x-3 items-center">
                    <h3 class="flex justify-center text-md font-regular">Flutter, Angular, ReactJs, NextJs </h3>
                    <div
                        class="h-[35px] w-[35px] cursor-pointer  rounded-[45px] bg-gray-700 hover:bg-gray-500 transition-all duration-300 flex justify-center items-center">
                        <mat-icon class="scale-[0.7]" svgIcon='edit'></mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row h-full overflow-hidden space-x-5 justify-start items-start ">
            <div @fadeleftCard class="w-[42%] space-y-5">
                <div class="card ">
                    <div class="flex mb-10  cursor-pointer justify-between items-center ">
                        <h5 class="text-xl">Socials Networks</h5>
                        <h5
                            class="text-md flex p-2 rounded-md hover:bg-gray-700 transition-all duration-300   justify-start font-light text-secondaryTextColor">
                            <mat-icon class="scale-[0.7]" svgIcon='edit'></mat-icon>
                            To modify
                        </h5>
                    </div>
                    <div class="space-y-2 mb-5">
                        <div class="space-x-1 flex flex-row">
                            <mat-icon class="scale-[0.7]" svgIcon="link"></mat-icon>
                            <h4 class="text-md hover:underline decoration-accent">LinkedIn</h4>
                        </div>

                    </div>
                </div>
                <div class="card  ">
                    <div class="flex mb-10  cursor-pointer justify-between items-center ">
                        <h5 class="text-xl">Languages</h5>
                        <h5
                            class="text-md flex p-2 rounded-md hover:bg-gray-700 transition-all duration-300   justify-start font-light text-secondaryTextColor">
                            <mat-icon svgIcon='add'></mat-icon>Add
                            language
                        </h5>
                    </div>
                    <div class="space-y-2">
                        <div class="space-y-1">
                            <h4 class="text-md">English</h4>
                            <h5 class="text-md text-secondaryTextColor">Profesionnal</h5>
                        </div>
                        <div class="space-y-1">
                            <h4 class="text-md">French</h4>
                            <h5 class="text-md text-secondaryTextColor">Native language</h5>
                        </div>

                    </div>
                </div>
            </div>

            <div @fadeRightCard class="card  pb-10 w-full">
                <div class="flex mb-[2rem]  cursor-pointer justify-between items-center ">
                    <h5 class="text-xl">Experiences</h5>
                    <app-experience-popup />
                </div>
                <div class="space-y-5 ">
                    <div *ngFor="let item of experiences"
                        class=" p-5 rounded-xl transition-all duration-300 hover:bg-gray-700 space-y-10">
                        <div class="flex flex-row justify-start items-start">
                            <div class="w-[80%] flex flex-row space-x-5 justify-start items-center">
                                <h3 class="h-[45px] w-[45px] rounded-md bg-accent flex justify-center items-center">
                                    <mat-icon svgIcon="building"></mat-icon>
                                </h3>
                                <div class="space-y-[0.2rem]">
                                    <h3 class="font-medium ">{{item.company}}</h3>
                                    <h3 class="font-medium  text-secondaryTextColor">{{item.role}}</h3>
                                </div>
                            </div>
                            <div class=" w-[20%] space-y-[0.2rem]  ">
                                <div class="flex justify-end space-x-2 items-center">
                                    <mat-icon class="scale-[1] cursor-pointer" svgIcon="edit"></mat-icon>
                                    <mat-icon class="scale-[1] cursor-pointer" svgIcon="trash"></mat-icon>
                                </div>
                                <h5 class=" flex justify-end  text-sm text-secondaryTextColor">{{item.duration}}
                                </h5>
                            </div>
                        </div>
                        <p [innerText]="item.description" class="px-[70px] text-md text-secondaryTextColor font-light">
                            {{item.description}}
                            <!-- Dans ce projet avec
                            LF Group,
                            je participe
                            à la realisation du prologicile web
                            Treslo, qui est un ERP
                            distribué cloud. <br /> En tant que Ingenieur Front-End, je suis responsable de
                            :<br />
                            Tâches et Responsabilités:<br />
                            • Définir la feuille de route du développement. <br /> • Assurer la qualité du code
                            (code
                            propre). <br />
                            • Le bon fonctionnement des fonctionnalités. <br />
                            Technologies: <br />
                            • Angular, Tailwind Css, TypeScript, Figma, AzureDevOps, CI/CD, GCP -->
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>