<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<nav aria-label="Page navigation example">
    <ul class="list-style-none flex">
        <li>
            <a
                class="pointer-events-none relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-500 transition-all duration-300 dark:text-neutral-400">Previous</a>
        </li>
        <li>
            <a
                class="relative cursor-pointer block rounded bg-transparent px-3 py-1.5 text-sm text-primary-700 transition-all duration-300 ">1</a>
        </li>
        <li aria-current=" page">
            <a
                class="relative cursor-pointer block rounded bg-primary-100 px-3 py-1.5 text-sm font-medium text-neutral-600  transition-all duration-300 hover:bg-neutral-100  dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">2
                <span
                    class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]">(current)</span>
            </a>
        </li>
        <li>
            <a
                class="relative cursor-pointer block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">3</a>
        </li>
        <li>
            <a
                class="relative cursor-pointer block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white">Next</a>
        </li>
    </ul>
</nav>