<div class="h-auto w-screen flex justify-center bg-primary">
    <div class="py-[7rem]  space-y-5 w-[75%]">
        <div @fadeHeader class=" flex justify-between items-center ">
            <h3 class="font-bold text-2xl">All Jobs</h3>
            <h3 class=" text-secondaryTextColor">100 Missions</h3>
        </div>
        <div @fadeHeader class="">
            <div id="search_control">
                <div class="flex w-full justify-start items-center space-x-3">
                    <div class="relative w-full   bg-transparent">
                        <input type="string" id="voice-search"
                            class="bg-primary focus:bg-primary focus:outline-none hover:border-white border border-borderColor text-secondaryTextColor text-xl rounded-lg focus:ring-accent focus:border-accent block w-full  p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-accent dark:focus:border-accent"
                            placeholder="Type a skill you are searching here.. (eg: MySQL, Python)" required />
                        <button type="button" class="absolute  inset-y-0 end-0 flex items-center pe-3">
                            <mat-icon svgIcon="search"></mat-icon>
                        </button>
                    </div>
                    <div class="flex justify-start space-x-2 items-center">
                        <h3 class="font-medium">Sort</h3>
                        <div class="dropdown dropdown-bottom dropdown-end">
                            <div (onclick)="handleClick()" id="drop" tabindex="0" role="button"
                                class="btn bg-transparent flex justify-between items-center border-borderColor hover:border-white hover:bg-transparent text-secondaryTextColor  w-[18rem] m-1">
                                No Filter <mat-icon svgIcon="chevron_down" class="scale-[0.7]"></mat-icon>
                            </div>
                            <ul (onclick)="handleClick()"
                                class="dropdown-content bg-gray-700 z-[1] h-[120px]   py-4 shadow rounded-box w-full">
                                <!-- <h4 class="font-medium text-xl">Date added</h4> -->
                                <li
                                    class="p-2 w-full hover:bg-gray-400 transition-all duration-30 hover:text-white cursor-pointer text-secondaryTextColor">
                                    Most
                                    recent first</li>
                                <li
                                    class="p-2 w-full hover:bg-gray-400 transition-all duration-30 hover:text-white cursor-pointer text-secondaryTextColor">
                                    Oldest first
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" flex justify-start items-center">
                <div class="flex -pt-5 justify-start space-x-2 items-center">
                    <h3 class="font-medium">Posted After</h3>
                    <div class="dropdown dropdown-bottom dropdown-end">
                        <div (onclick)="handleClick()" id="drop" tabindex="0" role="button"
                            class="btn bg-transparent flex justify-between items-center border-borderColor hover:border-white hover:bg-transparent text-secondaryTextColor  w-[18rem] m-1">
                            No Filter <mat-icon svgIcon="chevron_down" class="scale-[0.7]"></mat-icon>
                        </div>
                        <ul (onclick)="handleClick()"
                            class="dropdown-content hidden bg-gray-700 z-[1] h-[120px]   p-4 shadow rounded-box w-full">
                            <h4 class="font-medium text-xl">Date added</h4>
                            <li
                                class="p-2 w-full hover:bg-gray-400 transition-all duration-30 hover:text-white cursor-pointer text-secondaryTextColor">
                                Most
                                recent first</li>
                            <li
                                class="p-2 w-full hover:bg-gray-400 transition-all duration-30 hover:text-white cursor-pointer text-secondaryTextColor">
                                Oldest first
                            </li>
                        </ul>
                    </div>
                </div>
                <div (onclick)="handleClick()" id="drop" tabindex="0" role="button"
                    class="btn bg-transparent flex justify-between items-center border-borderColor hover:border-white hover:bg-transparent text-secondaryTextColor  w-[18rem] m-1">
                    Advanced Filters <mat-icon svgIcon="chevron_right" class="scale-[0.7]"></mat-icon>
                </div>
            </div>
        </div>
        <hr @fadeHeader class="text-red-300" />

        <div class="flex flex-col overflow-scroll  space-y-5 justify-start items-start ">

            <div @fadeJobItem *ngFor="let item of jobs"
                class="card cursor-pointer hover:bg-gray-700 transition-all transition-3 flex  flex-row space-x-3 justify-start items-start p-0  w-full">
                <div class="w-[70%] flex justify-start space-x-3 items-start p-0">
                    <h3 class="text-3xl text-accent  font-extrabold">•</h3>
                    <div class=" space-y-4">
                        <h3 class="text-xl font-extrabold">{{item.role}}</h3>
                        <div class="flex justify-start items-center space-x-3">
                            <div class="flex justify-start items-center space-x-1">
                                <mat-icon class="scale-[0.6]" svgIcon="rectangle"></mat-icon>
                                <h6 class="text-secondaryTextColor">Core</h6>
                            </div>
                            <div class="flex justify-start items-center space-x-1">
                                <mat-icon class="scale-[0.6]" svgIcon="calendar_time"></mat-icon>
                                <h6 class="text-secondaryTextColor">{{"Full Time("+item.timePerWk+")"}}</h6>
                            </div>
                            <div class="flex justify-start items-center space-x-1">
                                <mat-icon class="scale-[0.6]" svgIcon="house"></mat-icon>
                                <h6 class="text-secondaryTextColor">Remote</h6>
                            </div>

                            <div class="flex justify-start items-center space-x-1">
                                <mat-icon class="scale-[0.6]" svgIcon="calendar"></mat-icon>
                                <h6 class="text-accent">{{item.datePosted}}</h6>
                            </div>
                        </div>
                        <h3 class="text-md font-extrabold text-secondaryTextColor ">{{item.description}}</h3>
                        <div class="flex flex-wrap justify-start items-start space-x-2">
                            <h3>Required:</h3>
                            <div *ngFor="let requred of item.required" class="flex flex-wrap space-x-2 ">
                                <h4
                                    class="p-2 w-auto text-sm min-w-[5rem] flex justify-center items-center border-[1px] text-secondaryTextColor rounded-[5rem] border-secondaryTextColor">
                                    {{requred}}</h4>

                            </div>
                        </div>
                        <div class="flex flex-wrap justify-start items-start space-x-2">
                            <h3>Indutries:</h3>
                            <div *ngFor="let Indutrie of item.industries" class="flex flex-wrap space-x-2 ">
                                <h4
                                    class="p-2 w-auto text-sm min-w-[5rem] flex justify-center items-center border-[1px] text-white rounded-[5rem] bg-secondaryTextColor">
                                    {{Indutrie}}</h4>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-[30%] space-y-2 ">
                    <div class="flex justify-between items-center">
                        <div class="space-y-2">
                            <h4 class="text-accent font-medium text-md"> Accepting Applications</h4>
                            <h4 class="text-sm flex justify-center items-center space-x-2">Matchers reveiwig
                                applications <mat-icon svgIcon="alert" class="scale-[0.5]"></mat-icon>
                            </h4>
                        </div>

                        <mat-icon svgIcon="ribbon" class="scale-[0.7]"></mat-icon>
                    </div>
                    <div class="flex items-center space-x-2">
                        <mat-icon svgIcon="interval" class="scale-[1]"></mat-icon>
                        <h4 class="  text-md">Estimated Lenght: </h4>
                        <h4 class="text-accent font-medium pl-3">{{item.estimateLength}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end items-end">
            <app-pagination />
        </div>
    </div>
</div>