<div
    class="h-full w-screen bg-gradient-to-b  flex  from-accent from-[-250%] via-transparent via-[70%]  to-primary to-[10%] ">
    <div class=" w-full flex flex-row justify-start items-start  space-y-5 ">
        <div @fadeFilter class="backdrop-blur-2xl pt-[5rem] px-3 bg-white/20 h-screen w-[20%] fixed  left-0">
            <h4 class="flex justify-start space-x-5 text-xl font-semiBold items-center"><mat-icon class="mr-2"
                    svgIcon="filters"></mat-icon> Filters</h4>

            <div class="collapse pb-0 collapse-arrow bg-transparent">
                <input type="checkbox" />
                <div class="collapse-title   min-h-none text-md text-secondaryTextColor font-medium">
                    Experience Level
                </div>
                <div class="collapse-content block pt-[-5rem] space-x-0 space-y-0">
                    <div (click)="isAllSelectedJobs(item)"
                        class="w-full cursor-pointer  flex justify-start items-center space-x-1"
                        *ngFor="let item of listTypeJobs">
                        <input class="rounded-xl " type="checkbox" value="{{item.id}}" [checked]="item.isSelected"
                            (change)="isAllSelectedJobs(item)">
                        <label class="">{{item.value}}</label>
                    </div>
                </div>
            </div>

            <div class="collapse pb-0 collapse-arrow bg-transparent">
                <input type="checkbox" />
                <div class="collapse-title   min-h-none text-md text-secondaryTextColor font-medium">
                    Engagement Type
                </div>
                <div class="collapse-content block pt-[-5rem] space-x-0 space-y-0">
                    <div (click)="isAllSelectedEng(item)"
                        class="w-full cursor-pointer  flex justify-start items-center space-x-1"
                        *ngFor="let item of listTypeEng">
                        <input class="rounded-xl " type="checkbox" value="{{item.id}}" [checked]="item.isSelected"
                            (change)="isAllSelectedEng(item)">
                        <label class="">{{item.value}}</label>
                    </div>
                </div>
            </div>

            <div class="collapse pb-0 collapse-arrow bg-transparent">
                <input type="checkbox" />
                <div class="collapse-title   min-h-none text-md text-secondaryTextColor font-medium">
                    Time Commitment
                </div>
                <div class="collapse-content block pt-[-5rem] space-x-0 space-y-0">
                    <select
                        class="select border-borderColor hover:border-white border-1 bg-transparent rounded-sm  text-secondaryTextColor focus:ring-0 focus:bg-transparent focus:outline-none focus:border-borderColor select-bordered w-full max-w-xs">
                        <option selected>Select required hours per week</option>
                        <option>10 hrs/wk</option>
                        <option>20 hrs/wk</option>
                        <option>30 hrs/wk</option>
                        <option>40 hrs/wk</option>
                    </select>
                </div>
            </div>
        </div>
        <div @fadeProfiles class=" ml-[22%] flex   justify-center   w-[80%]  py-[7rem]   space-y-5">
            <div class="space-y-5 w-[55%] flex flex-col justify-center">
                <div class="flex justify-between items-center">
                    <h4 class="text-xl font-semiBold">Our Talents</h4>
                    <h4 class="text-md text-secondaryTextColor font-regular">5 results</h4>
                </div>
                <div class="w-full space-y-5">
                    <div *ngFor="let item of profiles"
                        class="bg-secondary transition ease-in-out  hover:scale-[1.05] hover:bg-gray-700 cursor-pointer   p-3 space-y-6">
                        <div class="flex justify-between ">
                            <div class="flex space-x-3 justify-start items-start">
                                <div [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
                                    class="h-[60px] w-[60px] backdrop-blur-2xl  bg-cover  ">
                                </div>
                                <div class="">
                                    <h4 class="font-bold text-2xl">{{item.name}}</h4>
                                    <h6 class="font-light text-sm text-secondaryTextColor">{{item.experienceOld+" years
                                        of experience"}}</h6>
                                </div>
                            </div>
                            <h4
                                class="flex justify-start space-x-5 cursor-pointer font-regular text-accent items-center">
                                Add to
                                shortlist<mat-icon class="ml-2" svgIcon="heart"></mat-icon></h4>
                        </div>
                        <div class="flex justify-between items-center">
                            <h4
                                class="flex justify-start  space-x-5 cursor-pointer font-regular text-secondaryTextColor items-center">
                                {{item.role}}
                            </h4>
                            <h4
                                class="flex justify-start  space-x-5 cursor-pointer font-regular text-secondaryTextColor items-center">
                                <mat-icon class="scale-[1]" svgIcon="location"></mat-icon>{{item.location}}
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>