.collapse-title,
:where(.collapse > input[type=checkbox]),
:where(.collapse > input[type=radio]) {
    width: 100%;
    padding-bottom: 0rem !important;
    padding-inline-end: 3rem;
    min-height: 3.75rem;
    transition: background-color 0.2s ease-out;
}

input {
    border-radius: 5px;
    background-color: transparent;
}