<div class="h-full overflow-hidden  bg-primary  w-screen">
    <div class="backdrop-blur-sm h-[65px] w-screen  z-10 flex space-x-10 px-5  justify-start items-center fixed">
        <img class="h-[150px] w-[200px]" src="../../assets/logo.png" />
        <div class="navBar flex justify-between space-x-5 items-center">
            <p *ngIf="!isUser" (click)="goToDiscover()" class="cursor-pointer   hover:text-textColor "
                [ngClass]="isDiscover ? 'text-accent':'text-secondaryTextColor'">Discover Talent</p>
            <p *ngIf="!isUser" (click)="goToMissions()" class="cursor-pointer  hover:text-textColor"
                [ngClass]="isMissions ? 'text-accent':'text-secondaryTextColor'">Missions</p>
            <p *ngIf="isUser" (click)="goToJobs()" [ngClass]="isJobs ? 'text-accent':'text-secondaryTextColor'"
                class="cursor-pointer  hover:text-textColor ">Jobs</p>
            <p *ngIf="isUser" (click)="goToProfile()" [ngClass]="isProfile ? 'text-accent':'text-secondaryTextColor'"
                class="cursor-pointer hover:text-textColor">Profile</p>
            <p (click)="logout()" class="cursor-pointer text-secondaryTextColor hover:text-textColor">Deconnexion</p>
        </div>
    </div>
    <router-outlet class=""></router-outlet>
    <app-loading *ngIf="isBusy" />

</div>