<!-- <button  data-ripple-light="true"
    class="text-md flex p-2 rounded-md hover:bg-gray-700  duration-300   justify-start font-light text-secondaryTextColor shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
    <mat-icon svgIcon='add'></mat-icon>
    Add experience
</button> -->
<button onclick="my_modal_1.showModal()" data-ripple-light="true"
    class="text-md flex p-2 rounded-md  bg-accent  duration-300   justify-start font-light text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
    New mission
</button>
<dialog id="my_modal_1"
    class="modal cursor-default  bg-opacity-80 opacity-0 backdrop-blur-sm bg-secondary transition-opacity duration-300">
    <div class="modal-box justify-start bg-secondary w-[35%] max-h-[85%] max-w-none  p-0">

        <div class="px-10 py-5 w-full space-y-5">
            <h3 class=" flex justify-start font-regular text-xl">New mission</h3>

            <div class="w-full flex flex-col space-y-5 justify-start">
                <div id="mission_name" class="w-full space-y-1">
                    <h4>Mission name <span class="text-red-300">*</span> </h4>
                    <input nz-input class="focus:border-white w-full border-[1px]  border-solid"
                        placeholder="My mission" [(ngModel)]="value" type="string" />
                </div>
                <div id="mission_title" class="w-full space-y-1">
                    <h4>Mission Title <span class="text-red-300">*</span> </h4>
                    <input nz-input class="focus:border-white w-full border-[1px]  border-solid"
                        placeholder="Mobile Engineer,Angular dev.." [(ngModel)]="value" type="string" />
                </div>
                <div id="mission_description" class="w-full space-y-1">
                    <h4>Mission Description <span class="text-red-300">*</span> </h4>
                    <textarea
                        class="peer h-full min-h-[100px] w-full resize-none rounded-[7px] border border-[#808080]  bg-transparent px-3 py-2.5 font-sans text-sm font-normal  outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-[#808080]  focus:border-2 focus:border-white  focus:outline-0 disabled:resize-none disabled:border-0 disabled:bg-transparent"
                        placeholder="Please provide a brief description of the job, including some key responsabilities and deliverables you're looking for "></textarea>
                </div>

                <div class="mission_type" class="space-x-2">
                    <h3>Type of job <span class="text-red-300">*</span> :</h3>
                    <div class="w-full flex justify-start items-center space-x-2" *ngFor="let item of listTypeJobs">
                        <input class="rounded-xl" type="checkbox" value="{{item.id}}" [checked]="item.isSelected"
                            (change)="isAllSelectedJobs(item)" />
                        <label class="">{{item.value}}</label>
                    </div>
                    <div *ngIf="showPartTime" class="flex  justify-start items-center space-x-2">
                        <input [defaultValue]="10" nz-input class="focus:border-white w-full border-[1px]  border-solid"
                            (ngModel)="20" type="number" />
                        <h5>hrs/week</h5>
                    </div>
                </div>

                <div class="mission_type" class="space-x-2">
                    <h3>What is the current state of your Technology?</h3>
                    <div class="w-full flex justify-start items-center space-x-2" *ngFor="let item of listTypeState">
                        <input class="rounded-xl" type="checkbox" value="{{item.id}}" [checked]="item.isSelected"
                            (change)="isAllSelectedState(item)" />
                        <label class="">{{item.value}}</label>
                    </div>
                </div>

                <div id="mission_title" class="w-full space-y-1">
                    <h4>Required Skills <span class="text-red-300">*</span> </h4>
                    <input nz-input class="focus:border-white w-full border-[1px]  border-solid"
                        placeholder="Angular, Android, Flutter" [(ngModel)]="value" type="string" />
                </div>
                <div></div>
            </div>

        </div>
        <div class="modal-action pb-5 px-10 space-x-2 flex justify-end items-center">
            <form method="dialog">
                <button data-ripple-light="true"
                    class=" bg-transparent hover:bg-gray-700  border-white border-[0.5px] w-[7rem] py-3 rounded-md">Cancel</button>
            </form>
            <button data-ripple-light="true" class=" bg-gray-700 hover:bg-gray-700 w-auto px-2 py-3 rounded-md">Save and
                create mission</button>

        </div>
    </div>
</dialog>