<div class="space-y-6 w-full">
    <div class="flex justify-between items-center ">
        <h3>Missions</h3>
        <app-add-mission />

    </div>

    <div class="pt-[15rem]">
        <h4 class="flex justify-center items-center text-2xl  font-bold">No Missions yet</h4>
        <h6 class="flex flex-col justify-center items-center text-secondaryTextColor text-md  font-light">
            <p>currently you have no mission in progress,</p>
            <p>click on the button on the right to start your new mission.</p>
        </h6>
    </div>
</div>