<button onclick="my_modal_4.showModal()" data-ripple-light="true"
    class="text-md flex p-2 rounded-md hover:bg-gray-700  duration-300   justify-start font-light text-secondaryTextColor shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
    <mat-icon svgIcon='add'></mat-icon>
    Add experience
</button>
<dialog id="my_modal_4"
    class="modal cursor-default  bg-opacity-80 opacity-0 backdrop-blur-sm bg-secondary transition-opacity duration-300">
    <div class="modal-box justify-start bg-secondary w-[35%] max-h-none max-w-none  p-0">

        <div class="px-10 pb-10 pt-5 w-full space-y-5">
            <h3 class=" flex justify-start font-regular text-xl">Add experience</h3>

            <div class="w-full flex flex-col space-y-5 justify-start">
                <input nz-input class="focus:border-accent border-[1px]  border-solid" placeholder="Company"
                    [(ngModel)]="value" type="string" />
                <input nz-input class="focus:border-accent border-[1px]  border-solid" placeholder="Position"
                    [(ngModel)]="value" type="string" />

                <div date-rangepicker class="flex w-full justify-between items-center">
                    <div class="relative w-[50%]">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                            </svg>
                        </div>
                        <input style="z-index: 50!important;" name="start" type="text"
                            class="bg-transparent  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-accent focus:border-accent block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date start">
                    </div>
                    <span class="mx-4 text-gray-500">to</span>
                    <div class="relative w-[50%]">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                            </svg>
                        </div>
                        <input name="end" type="text"
                            class="bg-transparent border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-accent focus:border-accent block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date end">
                    </div>
                </div>
                <div class="flex justify-end space-x-3 items-center">
                    <label class="inline-flex items-center cursor-pointer">
                        <input type="checkbox" value="" class="sr-only peer">
                        <div
                            class="relative w-11 h-6 bg-gray-700 peer-focus:outline-none focus:border-none peer-focus:ring-0 peer-focus:ring-accent dark:peer-focus:ring-accent rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-accent">
                        </div>
                        <span class="ms-3 text-sm font-medium text-secondaryTextColor dark:text-gray-300">Current</span>
                    </label>
                </div>

                <div class="flex justify-between items-center">
                    <div id="drop" tabindex="0" role="button"
                        class="btn w-[45%] bg-transparent flex justify-between items-center border-borderColor hover:border-white hover:bg-transparent text-secondaryTextColor   m-1">
                        Work type <mat-icon svgIcon="chevron_down" class="scale-[0.7]"></mat-icon>
                    </div>
                    <div id="drop" tabindex="0" role="button"
                        class="btn w-[45%]  bg-transparent flex justify-between items-center border-borderColor hover:border-white hover:bg-transparent text-secondaryTextColor   m-1">
                        Contribution <mat-icon svgIcon="chevron_down" class="scale-[0.7]"></mat-icon>
                    </div>
                </div>
                <div class="w-full">
                    <div class="relative w-full h-[10rem]">
                        <textarea
                            class="peer h-full min-h-[100px] w-full resize-none rounded-[7px] border border-[#808080] border-t-transparent bg-transparent px-3 py-2.5 font-sans text-sm font-normal  outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-[#808080] placeholder-shown:border-t-blue-gray-200 focus:border-2 focus:border-white focus:border-t-transparent focus:outline-0 disabled:resize-none disabled:border-0 disabled:bg-transparent"
                            placeholder=" "></textarea>
                        <label
                            class="before:content[' '] after:content[' '] text-2xl pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none  leading-tight transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-[#808080] before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-white after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-secondaryTextColor peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-secondaryTextColor peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-white peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-white peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-secondaryTextColor">
                            Description
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-action pb-5 px-10 space-x-2 flex justify-end items-center">
            <form method="dialog">
                <button data-ripple-light="true"
                    class=" bg-transparent hover:bg-gray-700  border-white border-[0.5px] w-[7rem] py-3 rounded-md">Cancel</button>
            </form>
            <button data-ripple-light="true"
                class=" bg-gray-700 hover:bg-gray-700 w-[7rem] py-3 rounded-md">Save</button>

        </div>
    </div>
</dialog>