/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "fontAwersome";
    src: local("fontAwersome"), url(./assets/fonts/FontAwesome6ProLight.otf) format("truetype");
}

@font-face {
    font-weight: 400;
    font-family: "Regular";
    src: local("Rregular"), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}


@font-face {
    font-weight: 700;
    font-family: "Bold";
    src: local("Bold"), url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-weight: 600;
    font-family: "SemiBold";
    src: local("SemiBold"), url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
    font-weight: 800;
    font-family: "ExtraBold";
    src: local("ExtraBold"), url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-weight: 500;
    font-family: "Medium";
    src: local("Medium"), url(./assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

@font-face {
    font-weight: 300;
    font-family: "Light";
    src: local("Light"), url(./assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

html {
    background-color: #171717 !important;
}

body {
    background-color: #171717 !important;
    color: white;
    font-family: 'Regular';
}

.navBar {
    background-color: #222222;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    background-color: #222222;
    border-radius: 10px;
    padding: 15px;
}

.gradiant {
    background-image: linear-gradient(to bottom, #EEA550 0%, #1d1d1d 51%, #171717 100%);

}

input[type="string"],
input[type="email"],
input[type="password"] {
    border-color: #808080;
    border-width: 1px;
    padding-left: 5px;
    border-radius: 5px;
    height: 45px;
    background-color: transparent;
}

input:focus {
    border-color: #EEA550;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

nz-range-picker {
    margin: 0 8px 12px 0;
}

.ant-form-item-explain-error {
    color: rgb(214, 88, 88);
}